# Examples 1
# MAP IP_DURATION block 200000
# DROP block
# ===============================

# Examples 2
# MAP IP white
# PASS white
# ===============================

# Examples 3
# MAP CIDRv4 ASN_IPv4
# MAP CIDRv6 ASN_IPv6
# DROP ASN_IPv4
# PASS
# ===============================

# Examples 4
# MAP IP_DURATION flood 200000
# DROP flood
# GUARD SYNFloodAttack flood 60
# PASS
# ===============================


# Examples 5 
# MAP IP_DURATION synblock
# GUARD FragmentAttack synblock 120
# PASS
# ===============================


# Examples 6 FAILED
# MAP IP_DURATION synblock
# DROP synblock
# GUARD SYNFloodAttack synblock 120
# PASS
# ===============================

# Example 7 TESTED 
# MAP IP_DURATION block
# DROP block
# PASS
# ===============================

# Example 8 TESTED
# MAP IP white
# PASS white
# DROP
# ===============================

# Example 9 TESTED - Log Record
# MAP IP_DURATION block
# DROP block "IPDR"
# PASS "PASS"
# ===============================

# Example 10 TESTED - IF Statement
# ENABLE UNIQ
# ENABLE STAT
# MAP IP_DURATION block
# IF SYNC.mode 
#   PASS white "TRUST"
#   DROP
# ELSE
#   DROP block "BLOCK"
#   PASS "PASS"
# END
# DROP "no"
# ===============================

## Example 11 TESTED
# ENABLE UNIQ
# ENABLE STAT
# MAP CIDRv6 bots_v6
# MAP CIDRv4 bots_v4
# MAP IP block
# DROP block "block"
# DROP bots_v4 "V4DR"
# DROP bots_v6 "V6DR"
# PASS "PASS"
## ===============================

## Example 12 TESTED
# ENABLE UNIQ
# ENABLE STAT
# MAP PORT blackports
# DROP blackports "port"
# PASS "PASS"
## ===============================


## Example 13 TESTED
#ENABLE UNIQ
#ENABLE STAT
##ENABLE UNIQ_IP ## TESTING
#
#MAP IP_DURATION white
#MAP IP_DURATION block
#
#
#MAP INPORT enableport
#CLEAR enableport
#ADD enableport 0,80,443,2096,2086,8080,8443,68,67,53
#
#
#IF packet.IP.Addr.IPv4 == IP.1.1.1.1 || packet.IP.Addr.IPv4 == IP.8.8.8.8 
#  DISABLE UNIQ
#  DISABLE STAT
#  PASS
#END
#
#
#ENABLE UNIQ
#ENABLE STAT
#MAP IP_DURATION synblock
#DROP synblock "sync"
#GUARD SYNFloodAttack synblock 120
#
#
## IF (packet.Port == 68 || packet.Port == 67) && (packet.IP.Addr.IPv4 & 0xFFFFFF00 ) == 0x91EF4801
##   PASS "dhcp"
## END
#
#NEXT enableport "PORT"
#
#PASS "pass"
### ===============================





## Example 14 RELASE
ENABLE UNIQ
ENABLE STAT

MAP IP_DURATION white
MAP IP_DURATION block

MAP IP dns
ADD dns 213.32.18.248
ADD dns 8.8.8.8 
ADD dns 1.1.1.1

PASS dns "pdns"

IF packet.Protocol==17
  DROP "UDP"
END


MAP INPORT enableport
CLEAR enableport
ADD enableport 0,80,443,2096,2086,8080,8443,68,67,53
NEXT enableport "PORT"

MAP IP_DURATION fragmented
GUARD FragmentAttack fragmented 120



## IF packet.IP.Addr.IPv4 == IP.213.32.18.248 || packet.IP.Addr.IPv4 == IP.1.1.1.1 || packet.IP.Addr.IPv4 == IP.8.8.8.8 
##   DISABLE UNIQ
##   DISABLE STAT
##   PASS
## END

IF packet.OtPort == 80
  PASS
END

MAP IP_DURATION synblock
DROP synblock "sync"
GUARD SYNFloodAttack synblock 120


IF SYNC.mode 
  PASS white "white"
  DROP
ELSE
  PASS white "white"
  DROP block "block"
  PASS "PASS"
END


PASS "pass"
## ===============================

